*{
    padding: 0px;
    margin: 0px;
}
.form{
    height: 500px;
    width: 600px;
    background-color: rgb(245, 61, 61);
    margin-left: 450px;
}
#google{
    margin-left: 20px;
}
.formcontent{
    margin-left: 200px;
}